<p style="color: green"><%= notice %></p>

<h1> <%= @restaurant.name %> </h1>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
    Comment: <%= review.content %>
    Rating: <%= review.rating %> ⭐️
    </li>
  <% end %>
</ul>
<br>

<div>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
